{% extends "base.html" %}

{% block title %}
Login Here
{% endblock %}

{% block content %}
<center>
<h1>
	<center>Diary</center>
</h1>
<form method="post" class="form-signin">
	 {% csrf_token %}
	{{ form.as_p }}
	 <!--  <label>
     <input type="checkbox" value="remember-me"> Remember me
    </label> -->
	<p>Don't have an accoount? Create one <a href="/register">here</a></p>
	<div class="checkbox mb-3">
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </form>
</center>
<p class="mt-5 mb-3 text-muted">&copy; 2021 Diary.gg</p>
{% endblock %}