{% extends 'base.html' %}
{% block content %}
<div class="container overflow-auto">
  <div class="row">
    <div class="col-lg-24">
		<center><h4><i class="fas fa-cog"></i>&nbsp; {{ user|title }} 's Settings</h4></center>
		<hr>
		<center>
		<div class="card w-75" style="background-color:#F7F7F7 !important;border:1px solid #4682b4 !important;">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <!-- <p class="card-text"><i class="far fa-calendar-alt"></i>&nbsp; %date% Using this format. This gives the user the ability to see the day of the week and the numerical date. Monday, October 1, 2021 </p> -->
		  <p><b><i class="fas fa-envelope-open-text"></i>&nbsp;Email:</b>&nbsp;&nbsp;&nbsp; {{ user.email }} &nbsp;<i class="fas fa-check-square" style="color:#1EA43A"></i></p>
	  <BR>

      <!--- implement change email view --->
    <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i>&nbsp; Change Email</a>
	<a href="/" class="btn btn-primary"><i class="fas fa-door-open"></i>&nbsp; Exit </a>
      <!--- implement change password view --->
   <a href="#" class="btn btn-primary"><i class="fas fa-key"></i>&nbsp; Change Password</a>
  </div>
</div>
        </center>
    </div>
  </div>
</div>
{% endblock content %}